<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'note_app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'note_app/js/script.js' %}"></script>
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">

    <!-- Code Snippet Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css"/>

    <title>Note App</title>
</head>
<body>

    <!-- SideNavBar -->
    <div id="mySidenav" class="sidenav">
    <h1>NoteBooks</h1>
    {% for category in list_of_categories %}
        <h5 class="accordion">{{category.name}}</h5>
        <div class="panel">
            <ul>
        {% for subcategory in list_of_subcategories %}
            {% if subcategory.parent.id == category.id %}
            <li><a href="/notes/category/view/{{subcategory.name}}">{{subcategory.name}}</a> <a href="/notes/subcategory/delete/{{subcategory.id}}"><i class="fas fa-trash"></i></a></li>    
            {% endif %}
        {% endfor %}
            </ul>
        <form action="/notes/subcategory/add/{{category.id}}" method="POST">
            {% csrf_token %}
            <input type="text" name="name">
            <button>Add</button>
        </form>
    </div>
    {% endfor %}
    
    <form action="/notes/category/add" method="POST">
        {% csrf_token %}
        <input type="text" name="name">
        <button>Add</button>
    </form>
    
    <a href="/notes/master_list" id="master_list">Master List</a>
    
    </div>
    
    <h1 style="text-align: center;">All Notes</h1>
<div id="main"> <!--Start of SideNav Main-->

    <!-- Toggle Sidebar -->
    <a href="#" onclick="openNav()" class="toggle_a_tag">
        <div id="toggle_button" class="toggle_eye">
            <i class="fas fa-chevron-right" id="toggle_button"></i>
        </div>
    </a>

    <div class="wrapper">

    {% for note in all_notes %}

    <button class="accordion">

        <p id="{{note.id}}" title="{{note.title}}" content="{{note.content}}" class="note">
            <span class="arrow_container">
                <a href="/notes/note/move_up/{{note.id}}" style="top:2px; left:5px;">
                    <i class="fas fa-arrow-up"></i>
                </a> 
                <a href="/notes/note/move_down/{{note.id}}" style="bottom:2px; left: 5px;">
                    <i class="fas fa-arrow-down"></i>
                </a> 
            </span>
            {{note.title}} - [<a href="/notes/category/view/{{note.category}}">{{note.category}}</a>] - {{note.content}} 
            <span class="uploaded_at">
                {{note.updated_at}}
            </span>
            <a href="/notes/note/edit/{{note.id}}">
                <i class="fas fa-edit"></i>
            </a> 
            <a href="/notes/note/delete/{{note.id}}">
                <i class="fas fa-trash"></i>
            </a>
            <a onClick="edit_note(this)">
                <i class="fas fa-edit"></i>
            </a>

        </button>
        <div class="panel">
          
            {% for note_comment in list_of_note_comments %}
                {% if note_comment.parent == note %}
                <ul>
                    {% if note_comment.isCode == True %}
                    <li id="note_comment_{{note_comment.id}}" class="code_format"><span class="note_content">{{note_comment.content}}</span> <a onClick="copyToClipboard(this)"><i class="fas fa-copy" style="color: white;"></i></a>  <a onClick="toggleCodeEdit({{note_comment.id}})"><i class="fas fa-edit"></i></a>            <a href="/notes/note_comment/delete/{{note_comment.id}}"><i class="fas fa-trash"></i></a></li>
                    {% else %}
                    <li id="note_comment_{{note_comment.id}}"><span class="note_content">{{note_comment.content}}</span> <a onClick="toggleEdit({{note_comment.id}})"><i class="fas fa-edit"></i></a>            <a href="/notes/note_comment/delete/{{note_comment.id}}"><i class="fas fa-trash"></i></a></li>
                    {% endif %}
                    <form action="/notes/note/edit_note_comment/{{note_comment.id}}" method="POST" style="display:none">
                        {% csrf_token %}
                        <textarea name="content" style="width: 100%;" >{{note_comment.content}}</textarea>
                        <!-- <input type="text" name="content" value="{{note_comment.content}}"> -->
                        <button>Update</button>
                    </form>
                </ul>
                {% endif %}
            {% endfor %}
            
            <form action="/notes/note/new_note_comment/{{note.id}}" method="POST">
                {% csrf_token %}
                <!-- <input type="text" name="content"> -->
                <textarea name="content" rows="2" cols="25" class="note_textarea"></textarea>
                <!-- <pre><code class="language-css"></code> -->
                <!-- <a onclick="codeSnippet()"><button type="button">Code</button></a> -->
                <!-- <input type="checkbox" value="True" name="isCode">Iscode -->
                <select name="isCode" class="isCode">
                    <option value="False">Text</option>
                    <option value="True">Code</option>
                </select>
                <button id="add_subnote_button">Add</button>
            </form>
        </div>

        </p>
        <form action="/notes/note/update" method="POST" id="edit_form">
            {% csrf_token %}
            <input type="text" name="title" placeholder="Title" value="{{note.title}}">
            <select name="category" value="{{note.category}}">
                <option value="all">All</option>
                {% for category in list_of_categories %}
                    <option value="{{category.name}}">{{category.name}}</option>
                {% endfor %}
            </select>
            <textarea name="content" value="{{note.content}}">{{note.content}}</textarea>
            <button>Update</button>
        </form>

    {% endfor %}

    <!-- Add new Note -->
    <h4>Add a new note</h4>
    <form action="/notes/note/add" method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" id="title_input">
        <select name="category" id="category_input">
            <option value="all">All</option>
            {% for subcategory in list_of_subcategories %}
                <option value="{{subcategory.name}}">{{subcategory.name}}</option>
            {% endfor %}
        </select>
        <textarea name="content" id="content_input"></textarea>
        <button id="add_note_button">Add</button>
    </form>

    <!-- CSRF / Categories -->
    <span id="csrf">
        <select name="category" style="display: none;">
            <option value="all">All</option>
            <option value="none">None</option>
            {% for category in list_of_categories %}
                <option value="{{category}}">{{category}}</option>
            {% endfor %}
        </select>
        {% csrf_token %}
    </span>

    </div>

</div> <!--End of SideNav-->

<!-- Code Snippet Script -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

</body>
</html>