<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> <!-- Animated Modal -->
    <link rel="stylesheet" href="{% static 'note_app/css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'note_app/js/script.js' %}"></script>
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/themes/prism.min.css" /> <!-- Code Snippet Link -->
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <title>Slick Notes - {{category}}</title>
</head>

<body>
    <!-- SideNavBar -->
    <div id="mySidenav" class="sidenav" onmouseover="revealCategoryAddForm()" onmouseout="hideCategoryAddForm()">
        <h1>My Notebooks</h1>

        <div class="notebooks" id="notebooks">
        
        <div class="notebook">
            <a href="/notes/">All Notebooks</a>
        </div>

        {% for notebook in list_of_notebooks %}
        <div id="notebook{{notebook.id}}_cell" class="notebook_cell" ondrop="notebookDrop(event, this)" ondragover="notebookAllowDrop(event)">
        <div class="notebook notebook{{notebook.id}}" id="{{notebook.id}}" notebook_position_id="{{notebook.position_id}}" ondragstart="notebookDragStart(event, this);" draggable="true">
            <h5 class="accordion">{{notebook.name}}
                    
                    <!-- <i class="fas fa-trash" onclick="delete_notebook(event, this);"></i> -->
                    <i class="fas fa-trash" onclick="del_notebook({{notebook.id}}); event.stopPropagation();"></i>

                    <i class="far fa-edit" onclick="edit_notebook(this);event.stopPropagation()" id="notebook{{notebook.id}}"></i>
                    
                    {% if notebook.privacy == False %}
                        <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock-open" onclick="togglePrivacy(this)" privacy={{notebook.privacy}}></i>
                    {% else %}
                        <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock" onclick="togglePrivacy(this)" privacy={{notebook.privacy}}></i>
                    {% endif %}

                    <form action="/notes/notebook/edit/{{notebook.id}}" method="POST" class="notebook_edit_form">
                        {% csrf_token %}
                        <input type="text" value="{{notebook.name}}" onclick="event.stopPropagation();" name="name">
                        <button class="add_button">Update</button>
                    </form>
            </h5>
            <div class="panel">
                <ul>
                    {% for category in list_of_categories %}
                    {% if category.parent.id == notebook.id %}
                    <li>
                        <a onclick="view_category('{{category.name}}')">{{category.name}}</a>
                        <!-- <a href="/notes/notebook/view/{{category.name}}/{{category.id}}">{{category.name}}</a> -->
                        <!-- <i class="fas fa-trash" onclick="delete_category(event, this)" id="{{category.id}}"></i> -->
                        <i class="fas fa-trash" onclick="del_category({{category.id}})" id="{{category.id}}"></i>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <form action="/notes/category/add/{{notebook.id}}" method="POST" class="category_add_form">
                    {% csrf_token %}
                    <div class="add_new_category">
                        <input type="text" name="name" id="public_category_input_{{notebook.id}}" placeholder="   Add new category...">
                        <button class="add_button">Add</button>
                    </div>
                </form>
            </div>
        </div>
        </div> <!--Notebook Cell-->
        {% endfor %}

        <form action="/notes/notebook/add" method="POST" class="notebook_add_form">
            {% csrf_token %}
            <input type="text" name="name" id="add_notebook_input">
            <button class="add_button">Add</button>
        </form>
        </div>

        <h1>Public Notebooks</h1>
        <div class="public_notebooks notebooks" id="public_notebooks">
            {% for notebook in list_of_public_notebooks %}
            <div class="notebook notebook{{notebook.id}}" id="{{notebook.id}}">
            <!-- <h5 class="accordion">{{notebook.name}}</h5> -->
            <h5 class="accordion">{{notebook.name}}
                    {% if notebook.privacy == False and notebook.created_by == active_user%}
                        <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock-open" onclick="togglePrivacy(this)" privacy={{notebook.privacy}}></i>
                    {% if notebook.created_by == current_user %}
                    <i class="fas fa-trash" onclick="del_notebook({{notebook.id}}); event.stopPropagation();" id="{{notebook.id}}"></i>
                    {% endif %}
                    {% endif %}
            </h5>
            <div class="panel">
                <ul>
                    {% for category in list_of_categories %}
                        {% if category.parent.name == notebook.name %}
                        <li>
                        <a onclick="view_public_category('{{category.name}}')">{{category.name}}</a>
                        <!-- <li><a href="/notes/notebook/view/{{notebook.name}}">{{category.name}}</a> -->
                        <!-- {% if category.created_by == current_user %}
                        <i class="fas fa-trash" onclick="delete_category(this)" id="{{category.id}}"></i></li>
                        {% endif %} -->
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="/notes/category/add/{{notebook.id}}" method="POST" class="category_add_form">
                    {% csrf_token %}
                    <div class="add_new_category">
                    <input type="text" name="name" id="private_category_input_{{notebook.id}}">
                    <button class="add_button">Add</button>
                    </div>
                </form>
            </div>
        </div>
            {% endfor %}
        </div>
        <a href="/notes/master_list" id="master_list">Master List</a>
    </div>

    <div id="main">

        <!-- The Modal -->
        <div id="deleteModal" class="modal">
        
            <!-- Modal content -->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="close">&times;</span>
                    <h2>Delete Item</h2>
                </div>

            <div class="modal-body" id="modal_message"></div>
            
            <div class="modal-buttons">
                <button id="modal_confirm">Yes</button>
                <button id="modal_cancel" onclick="no()">No</button>
            </div>
            
            <!-- <div class="modal-footer">
                <h3>Modal Footer</h3>
            </div> -->
            
            </div>
        
        </div>

        <!-- navbar2 -->
        <div class="navbar" style="text-align: center;">
                <!-- Toggle Sidebar -->
                <a href="#" onclick="openNav()" class="toggle_a_tag">
                    <div id="toggle_button" class="toggle_eye">
                        <i class="fas fa-chevron-right" id="toggle_button"></i>
                    </div>
                </a>
                <!-- <a href="#home">Slick Notes</a> -->
                <a href="#all" onclick="view_category('All')">All</a>
                <a href="#alphabetical" onclick="view_category('alphabetical')">Alphabetical</a>
                <a href="#dateAdded" onclick="view_category('date_added')">Date Added</a>

                <h2 id="brand">Slick Notes</h2>

                <div style="float: right!important;">
                    <div class="nav-right-item">
                        <input type="text" id="myInput" onClick="this.select();" onkeyup="searchFunction()" placeholder="Search.." class="searchbar">
                    </div>
                    <div class="nav-right-item">
                        <div class="dropdown">
                        <button class="dropbtn" onclick="myFunction()">{{current_user.first_name}}
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content" id="myDropdown">
                            <a href="#">Switch Users</a>
                            <a href="/login/logout">Logout</a>
                        </div>
                        </div>
                    </div>
                    <div class="nav-right-item">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox" />
                                <div class="slider round"></div>
                            </label>
                        </div>
                    </div>
                    <div class="nav-right-item">
                        <button onclick="document.getElementById('id01').style.display='block'" class="settings_cog"><i class="fas fa-cog"></i></button>
                    </div>
                    <div class="nav-right-item">
                        <a href="/login/logout"><i class="fas fa-door-open"></i></a>
                    </div>
                </div>
              </div>

        <div class="w3-container">
                <div id="id01" class="w3-modal">
                  <div class="w3-modal-content w3-card-4 w3-animate-zoom settingsModal" style="max-width:600px">
              
                    <h1 style="text-align: center;">Settings</h1>
                    <p>Reserved for future settings options.</p>
                    Welcome to Slick Notes,
                    To get started, add a new notebook on the left hand side.
                    Once you have created a notebook, feel free to add notes to it.
                    You can also add Categories to these notebooks which will allow you to filter based on category alone.
                    If you wish to see all combined notes, click on "All notes"
                    If you wish to make one of your notebooks public, click the lock/unlock icon on the right hand side.
                    Total Notes: {{all_notes.count}}

                    <div class="w3-container w3-border-top w3-padding-16 settingsModal">
                        <button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancel</button>
                        <span class="w3-right w3-padding w3-hide-small">Forgot <a href="#">password?</a></span>
                    </div>

                  </div>
                </div>
              </div>

        <div class="wrapper">

            <!-- Div to hold all notes -->
            <div id="notes_component"></div>

        </div>

    </div>
    <div class="screen"></div>
    <!--End of SideNav-->

    <!-- Code Snippet Script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

</body>

</html>