<h1 class="title">{{request.session.selected_notebook}}/{{request.session.selected_category}} Notes</h1>

<div class="note_container">
        {% for note in all_notes %}
        {% if note.privacy == False or note.created_by == current_user%}
        <div id="note{{note.id}}_cell" class="note_cell" ondrop="drop(event, this)" ondragover="allowDrop(event)">
        
        
            <div id="note{{note.id}}" note_id="{{note.id}}" note_position_id="{{note.position_id}}" ondragstart="dragStart(event, this);" draggable="true" class="note_body">
            <button class="accordion" id="note_layout">
                <p id="{{note.id}}" title="{{note.title}}" content="{{note.content}}" class="note">
                    {{note.title}} - [<a onclick="view_category(`{{note.parent.name}}`,`{{note.category.name}}`)" class="category">{{note.parent.name}}/{{note.category.name}}</a>] -
                    {{note.content}}
                    {% if note.privacy %}
                        <i class="fas fa-lock"></i>
                    {% endif %}
                        <i class="fas fa-trash note_trashcan" onclick="del_note({{note.id}}); event.stopPropagation();"></i>
                    <a onclick="edit_note(event, this)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <span class="uploaded_at">
                        {{note.updated_at}}
                    </span>
                    <span class="uploaded_by">
                        {{note.created_by.first_name}} {{note.created_by.last_name}}
                    </span>
            </button>

            <div class="panel" draggable="true" ondragstart="event.preventDefault();event.stopPropagation();">
                <div class="comments_panel">
                    {% for comment in list_of_comments %}
                    {% if comment.parent == note %}

                        <div id="comment_{{comment.id}}" comment_id="{{comment.id}}" class="indent{{comment.indentLevel}} comment" onmouseenter="showMenu(this)" onmouseleave="hideMenu(this)">
                        <!-- Comment Menu -->
                        <span class="comment_menu">[ <i class="fas fa-outdent"></i> | <i class="fas fa-indent"></i> 
                            <label class="tooltip"><i class="fas fa-copy" onclick="copyToClipboard(this)"></i>
                                <input type="checkbox"><span>copied</span></label> 
                            <i class="fas fa-edit" onclick="toggleEdit({{comment.id}})"></i>
                            <i class="fas fa-list-ul" onclick="toggleBullet('{{comment.bullet}}', this)"></i>
                            <i class="fas fa-trash" onclick="del_comment({{comment.id}})"></i> ]
                        </span>

                        {% if comment.bullet == 'bullet' %}
                        <ul>
                        {% elif comment.bullet == 'number' %}
                        <ol>
                        {% else %}
                        <ul style="list-style:none;">
                        {% endif %}
                        
                        <li>
                            
                            {% if comment.container == 'code' %}
                                <span class="note_content code_format">{{comment.content}}</span>
                            {% elif comment.container == 'text' %}
                                <span class="note_content">{{comment.content}}</span>
                            {% elif comment.container == 'h1' %}
                                <h1 class="note_content">{{comment.content}}</h1 class="note_content">
                            {% elif comment.container == 'h2' %}
                                <h2 class="note_content">{{comment.content}}</h2>
                            {% elif comment.container == 'h3' %}
                                <h3 class="note_content">{{comment.content}}</h3>
                            {% elif comment.container == 'h4' %}
                                <h4 class="note_content">{{comment.content}}</h4>
                            {% elif comment.container == 'h5' %}
                                <h5 class="note_content">{{comment.content}}</h5>
                            {% elif comment.container == 'h6' %}
                                <h6 class="note_content">{{comment.content}}</h6>
                            {% endif %}

                        </li>

                        {% if comment.bullet == 'bullet' %}
                        </ol>
                        {% elif comment.bullet == 'number' %}
                        </ul style="outline: 1px solid red;">
                        {% else %}
                        </ul>
                        {% endif %}

                         <!-- Display an image if one was uploaded -->
                         {% if comment.image %}
                         {% if comment.extension == '.mp4' or comment.extension == '.webm' or comment.extension == '.ogg' or comment.extension == '.MOV'%}
                         <video src="{{comment.image.url}}" controls="controls" class="video_format"
                             width="100%" height="600px" class='indent{{comment.indentLevel}} comment'></video>
                         {% elif comment.extension == '.pdf'%}
                         <embed src="{{comment.image.url}}" type="application/pdf" width="100%"
                             height="600px" class='indent{{comment.indentLevel}}'/>
                         {% else %}
                         <img src="{{comment.image.url}}" alt="{{comment.image.url}}"
                             class="comment_image indent{{comment.indentLevel}} comment">
                         {% endif %}
                         {% endif %}
 
                         <form action="/notes/comment/edit/{{comment.id}}" method="POST" style="display:none;" class="comment_edit_form">
                             {% csrf_token %}
                             <textarea name="content" style="width: 100%;" rows="5">{{comment.content}}</textarea>
                             <select name="container" class="container">
                                 {% if comment.container == 'text' %}
                                 <option value="text">Text</option>
                                 {% elif comment.container == 'code' %}
                                 <option value="code">Code</option>
                                 {% elif comment.container == 'h1' %}
                                 <option value="h1">h1</option>
                                 {% elif comment.container == 'h2' %}
                                 <option value="h2">h2</option>
                                 {% elif comment.container == 'h3' %}
                                 <option value="h3">h3</option>
                                 {% elif comment.container == 'h4' %}
                                 <option value="h4">h4</option>
                                 {% elif comment.container == 'h5' %}
                                 <option value="h5">h5</option>
                                 {% elif comment.container == 'h6' %}
                                 <option value="h6">h6</option>
                                 {% endif %}
                                 <option value="text">Text</option>
                                 <option value="text">Code</option>
                                 <option value="h1">h1</option>
                                 <option value="h2">h2</option>
                                 <option value="h3">h3</option>
                                 <option value="h4">h4</option>
                                 <option value="h5">h5</option>
                                 <option value="h6">h6</option>
 
                             </select>
                             <button class="add_button">Update</button>
                             <button type="button" class="cancel_button" onclick="hideEditForm({{comment.id}})">Cancel</button>
                         </form>

                        </div>
                    {% endif %}
                    {% endfor %}

                </div>

                <form action="/notes/comment/add/{{note.id}}" method="POST" enctype="multipart/form-data" class="new_comment_form" id='{{note.id}}' notebook="{{note.parent.name}}" category="{{note.category.name}}" draggable="true">
                    {% csrf_token %}
                    <textarea name="content" rows="2" cols="25" class="note_textarea"></textarea>
                    <!-- Simple File Upload --><br>
                    <input type="file" name="myfile" class="input">
                    <!-- <select name="bullet" class="container">
                        <option value="none">none</option>
                        <option value="bullet">bullet</option>
                        <option value="number">number</option>
                    </select> -->
                    <select name="container" class="container">
                        <option value="text">Text</option>
                        <option value="code">Code</option>
                        <option value="h1">H1</option>
                        <option value="h2">H2</option>
                        <option value="h3">H3</option>
                        <option value="h4">H4</option>
                        <option value="h5">H5</option>
                        <option value="h6">H6</option>
                    </select>
                    <button class="add_comment_button add_button">Add Comment</button>
                </form>
            </div>

            <form action="/notes/note/edit/{{note.id}}" method="POST" style="display:none;" class="note_update_form">
                {% csrf_token %}
                <input type="text" name="title"value="{{note.title}}">
                <!-- <select name="privacy" value="{{note.privacy}}">
                    {% if note.privacy == True %}
                    <option value="True">public</option>
                    <option value="False">private</option>
                    {% else %}
                    <option value="False">private</option>
                    <option value="True">public</option>
                    {% endif %}
                </select> -->

                <select name="notebook" value="{{note.parent.name}}">
                    <option value="{{note.parent.name}}">{{note.parent.name}}</option>
                    {% for notebook in list_of_notebooks %}
                    {% if notebook.name != note.parent.name %}
                    <option value="{{notebook.name}}">{{notebook.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>

                <select name="category" value="{{note.category.name}}">
                    <option value="{{note.category.name}}">{{note.category.name}}</option>
                    <!-- {% if note.category != "All" %}
                    <option value="All">All</option>
                    {% endif %} -->
                
                    {% for category in list_of_categories %}
                    {% if category.name != note.category %}
                    <option value="{{category.name}}">{{category.name}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
                <textarea name="content" value="{{note.content}}">{{note.content}}</textarea>
                <button class="add_note_button" class="add_button">Update</button>
            </form>
            </p>
        </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>

    <!-- Add new Note -->
    <h4 class="add_new_note_tag">Add a new note</h4>
    <form action="/notes/note/add/{{notebook}}" method="POST" class="new_note_form" notebook_name="{{category}}">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title" id="add_note_input">
        <select name="privacy">
            <option value="False">public</option>
            <option value="True">private</option>
        </select>
        <select name="category">
            <option value="{{category}}">{{category}}</option>
            <option value="All">All</option>
            {% for notebook in list_of_notebooks %}
            <option value="{{notebook.name}}">{{notebook.name}}</option>
            {% endfor %}
        </select>
        <textarea name="content" placeholder="Description"></textarea>
        <button class="add_note_button">Add</button>
    </form>