<div class="notebook">
    <a href="/notes/">All</a>
</div>

{% for notebook in list_of_notebooks %}
<div class="notebook">
    <h5 class="accordion">{{notebook.name}}
            {% if notebook.privacy == False %}
            <!-- <a href="notebook/{{notebook.id}}/privacy"> -->
                <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock-open" privacy={{notebook.privacy}}></i>
            <!-- </a> -->
            {% else %}
            <a href="notebook/{{notebook.id}}/privacy">
                <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock" privacy={{notebook.privacy}}></i>
            </a>
            {% endif %}
            <a href="/notes/notebook/delete/{{notebook.id}}"><i class="fas fa-trash"></i></a>
    </h5>
    <div class="panel">
        <ul>
            {% for subcategory in list_of_subcategories %}
            {% if subcategory.parent.id == notebook.id %}
            <li>
                <a onclick="view_category('{{subcategory.name}}')">{{subcategory.name}}</a>
                <!-- <a href="/notes/notebook/view/{{category.name}}/{{subcategory.id}}">{{subcategory.name}}</a> -->
                <a href="/notes/subcategory/delete/{{subcategory.id}}"><i class="fas fa-trash"></i></a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
        <form action="/notes/subcategory/add/{{notebook.id}}" method="POST">
            {% csrf_token %}
            <input type="text" name="name">
            <button>Add</button>
        </form>
    </div>
</div>
{% endfor %}

<form action="/notes/notebook/add" method="POST" class="category_add_form">
    {% csrf_token %}
    <input type="text" name="name">
    <button>Add</button>
</form>