        <h1>My Notebooks</h1>

        <div class="notebooks" id="notebooks">
        
        <div class="notebook">
            <a href="/notes/">All Notebooks</a>
        </div>

        {% for notebook in list_of_notebooks %}
        <div class="notebook notebook{{notebook.id}}" id="{{notebook.id}}">
            <h5 class="accordion">{{notebook.name}}
                    {% if notebook.privacy == False %}
                        <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock-open" onclick="togglePrivacy(this)" privacy={{notebook.privacy}}></i>
                    {% else %}
                        <i note_id="{{notebook.id}}" custom_id="{{notebook.id}}" class="fas fa-lock" onclick="togglePrivacy(this)" privacy={{notebook.privacy}}></i>
                    {% endif %}
                    <a onclick="delete_notebook(this)"><i class="fas fa-minus-circle"></i></a>
            </h5>
            <div class="panel">
                <ul>
                    {% for subcategory in list_of_subcategories %}
                    {% if subcategory.parent.id == notebook.id %}
                    <li>
                        <a onclick="view_category('{{subcategory.name}}')">{{subcategory.name}}</a>
                        <!-- <a href="/notes/notebook/view/{{category.name}}/{{subcategory.id}}">{{subcategory.name}}</a> -->
                        <a href="/notes/subcategory/delete/{{subcategory.id}}"><i class="fas fa-trash"></i></a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
                <form action="/notes/category/add/{{notebook.id}}" method="POST" class="category_add_form">
                    {% csrf_token %}
                    <div class="add_new_category">
                        <input type="text" name="name" id="sidenav_category_input" placeholder="   Add new category...">
                        <button class="add_button">Add</button>
                    </div>
                </form>
            </div>
        </div>
        {% endfor %}

        <form action="/notes/notebook/add" method="POST" class="notebook_add_form">
            {% csrf_token %}
            <input type="text" name="name" id="add_notebook_button">
            <button class="add_button">Add</button>
        </form>
        </div>

        <h1>Public Notebooks</h1>
        <div class="public_notebooks notebooks" id="public_notebooks">
            {% for category in list_of_public_notebooks %}
            <div class="notebook notebook{{category.id}}" id="{{category.id}}">
            <!-- <h5 class="accordion">{{category.name}}</h5> -->
            <h5 class="accordion">{{category.name}}
                    {% if category.privacy == False and category.created_by == active_user%}
                    <!-- <a href="category/{{category.id}}/privacy"> -->
                        <i note_id="{{category.id}}" custom_id="{{category.id}}" class="fas fa-lock-open" onclick="togglePrivacy(this)" privacy={{category.privacy}}></i>
                    <!-- </a> -->
                    {% if category.created_by == current_user %}
                    <a href="/notes/notebook/delete/{{category.id}}"><i class="fas fa-trash"></i></a>
                    {% endif %}
                    {% endif %}
            </h5>
            <div class="panel">
                <ul>
                    {% for subcategory in list_of_subcategories %}
                        {% if subcategory.parent.name == category.name %}
                        <li>
                        <a onclick="view_public_category('{{subcategory.name}}')">{{subcategory.name}}</a>
                        <!-- <li><a href="/notes/notebook/view/{{category.name}}">{{subcategory.name}}</a> -->
                        {% if subcategory.created_by == current_user %}
                        <a href="/notes/subcategory/delete/{{subcategory.id}}"><i class="fas fa-trash"></i></a></li>
                        {% endif %}
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
                <form action="/notes/category/add/{{category.id}}" method="POST" class="category_add_form">
                    {% csrf_token %}
                    <div class="add_new_category">
                    <input type="text" name="name">
                    <button class="add_button">Add</button>
                    </div>
                </form>
            </div>
            </div>
            {% endfor %}
        </div>
        <a href="/notes/master_list" id="master_list">Master List</a>
    </div>