<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'note_app/css/style.css' %}">
</head>
<body>
    Viewing notes for {{subcategory_name}}
    {% for note in all_category_notes %}
        {{note.id}} {{note.category}} {{note.content}}
    {% endfor %}
</body>
</html>