* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(163, 162, 162); */
    /* background-color: #1e1e1e; */
    /* background-color: #DEDEDE; */
    background-color: #232331;
    /* background-color: #1e1e1e; */
}

h1 {
  color: #09d6ef;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
    width: 70vw;
    margin: 0 auto;
}

.add_new_note_tag {
  text-align: center;
  width: 100%;
  color: #09d6ef;
  padding: 3px;
}

.new_note_form {
  background-color: #2d3748;
  color: #09d6ef;
  border-left: 2px solid #09d6ef;
  border-right: 2px solid #09d6ef;

  padding: 10px;
}

.note_container {
  /* border: 2px solid red; */
}

#note_template {
  /* display: none; */
}

.master_wrapper {
  text-align: center;
}

#master_list {
  text-align: center;
  display: block;
}

#edit_form {
    display: none;
}

.add_note_form {
  padding: 10px;
}

/* :not(pre)>code[class*=language-]{
  padding: 0;
} */

.logout {
  position: absolute;
  right: 10px;
  top: 10px;
}

#greeting {
  position: absolute;
  color: white;
  right: 50px;
  top: 10px;
}

.all_notes {
  position: absolute;
  left: 10px;
  top: 10px;
}

.note {
    border-bottom: 0.25px solid black;
    /* border: 1px solid black; */
    padding: 10px;
    padding-left: 20px;
    position: relative;
    /* background-color: white; */
    background-color: #2d3748;
    color: #09d6ef;
}

.note:hover {
  /* background-color: #f1f1f1; */
  background-color: black;
  border-left: 2px solid #09d6ef;
  border-right: 2px solid #09d6ef;
}

.arrow_container a {
  display: block;
  position: absolute;
  text-decoration: none;
  color: inherit;
  font-size: 0.7rem;
}

.arrow_container a:hover {
  color: red;
}

.privacy {
  position: absolute;
  right: 40px;
}

.fa-edit {
    position: absolute;
    right: 20px;
}

.fa-trash {
    position: absolute;
    right: 5px;
}

.fa-lock, .fa-lock-open {
  position: absolute;
  color: #09d6ef;
  right: 3px;
}

.fa-copy {
  position: absolute;
  right: 45px;
}

.uploaded_at {
  position: absolute;
  right: 60px;
  font-size: 10px;
}

.uploaded_by {
  position: absolute;
  right: 200px;
}

.sidenav i {
  font-size: 12px;
}

.sidenav i:hover {
  color: white;
  cursor: pointer;
}

.sidenav .fa-lock, .sidenav .fa-lock-open {
  position: absolute;
  right: 22px;
}

.code_format {
  background-color:#1e1e1e;
  color: lime;
  text-shadow: none;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: red; */
    /* color: #444; */
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.7s;
  }

  .sidenav h5 {
    padding: 5px;
    font-size: 1rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #232331;
    /* border-left: 2px solid #09d6ef; */
    /* border-right: 2px solid #09d6ef; */
    /* border-bottom: 2px solid #09d6ef; */
    /* border: 2px solid #09d6ef; */
    /* margin-left: 15px; */
    color: #09d6ef;
  }

  .sidenav .active, .sidenav .accordion:hover{
    /* margin-left: 5px; */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* padding: 0 18px; */
    /* padding: 10px;   */
    /* background-color: rgba(243, 237, 237, 0.774); */
    background-color: #09d6ef;
    /* border: 1px solid black; */
    display: none;
    overflow: hidden;
    text-align: left;
    color: #232331;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .panel ul form {
      /* display: none; */
  }

  .panel ul li {
      position: relative;
      /* white-space: pre-wrap; */
      /* border-top: 2px solid black; */
      padding: 5px;
      margin: 0 45px;
  }

  .sidenav ul li:hover {
    background-color: rgb(3, 68, 105);
  }

  .panel form {
      margin-left: 45px;
  }

  #title_input {
    height: 20px;
    width: 15%;
    vertical-align: top;
  }

  #privacy_input {
    vertical-align: top;
    height: 24px;
    width: 10%;
  }

  #category_input {
    vertical-align: top;
    height: 24px;
    width: 15%;
  }

  #content_input {
    /* height: 22px; */
    /* width: 50%; */
    height: 100px;
    width: 100%;
    /* width: auto; */
  }

  #add_note_button {
    vertical-align: top;
    padding: 2px;
    width: 6%;
  }

  /* On the note  */

  .note_textarea {
    width: 50%;
    height: 24px;
  }

  .isCode {
    height: 26px;
    vertical-align: top;
  }

  .comment_image {
    max-width: 90%;
    max-height: 50%;
    margin-left: 45px;
    margin-right: 45px;
  }

  #add_subnote_button {
    vertical-align: top;
    padding: 3px;
    /* width: 6%; */
  }
  
  /* SIDENAV */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    background-color: #2d3748;
    box-shadow: 2px 2px 10px black;

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    text-align: center;
  }

  .sidenav h5 {
    padding-left: 25px;
  }
  
  .sidenav a {
    /* margin-left: 10px; */
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: white;
    /* display: block; */
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav form {
    margin-top: 20px;
  }

  .sidenav .panel {
    background-color: #232331;
    color: white;
  }

  .sidenav .panel a {
    color: #09d6ef;
  }
  
  .sidenav div {
    /* background-color: rgb(37, 37, 37); */
    /* background-color: #232331; */
    /* background-color: rgb(60, 92, 143); */
  }

  .notebooks {
    /* border: 1px solid red; */
  }

  .category_add_form {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
