* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: rgb(163, 162, 162); */
    /* background-color: #1e1e1e; */
    /* background-color: #DEDEDE; */
    background-color: #232331;
    background-color: #1e1e1e;
    /* background-color: #1e1e1e; */
    background: url(" ../images/bay.jpg") no-repeat center center fixed;
    background-color: var(--bg-color);
    color: var(--font-color);
}

.screen {
  background-color: #09d6ef;
  background-color: var(--bg-color);
  opacity: 0.45;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  top: 0;
}

h1 {
  color: #09d6ef;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper {
    width: 70vw;
    margin: 0 auto;
}

.add_new_note_tag {
  text-align: center;
  width: 100%;
  color: black;
  padding: 3px;
}

.new_note_form {
  background-color: #1e1e1e;
  color: #09d6ef;
  border-left: 2px solid #09d6ef;
  border-right: 2px solid #09d6ef;

  padding: 10px;
}

/* Toggle Colors */

@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700|Sansita+One);
 :root {
	 --primary-color: #302ae6;
	 --secondary-color: #536390;
	 --font-color: #424242;
	 --bg-color: #fff;
	 --heading-color: #292922;
}
 [data-theme="dark"] {
	 --primary-color: #9a97f3;
	 --secondary-color: #818cab;
	 --font-color: #e1e1ff;
	 --bg-color: #161625;
	 --heading-color: #818cab;
}

 h1 {
	 color: var(--heading-color);
	 font-family: "Sansita One", serif;
	 font-size: 2rem;
	 margin-bottom: 1vh;
}
 a {
	 color: var(--primary-color);
	 text-decoration: none;
	 border-bottom: 3px solid transparent;
	 font-weight: bold;
}
 a:hover, a:focus {
	 border-bottom: 3px solid currentColor;
}
 section {
	 max-width: 68%;
	 margin: 0 auto;
}
 .post-meta {
	 font-size: 1rem;
	 font-style: italic;
	 display: block;
	 margin-bottom: 4vh;
	 color: var(--secondary-color);
}
 nav {
	 display: flex;
	 justify-content: flex-end;
	 padding: 20px 0;
}
/*slider switch css */
 .theme-switch-wrapper {
	 display: flex;
	 align-items: center;
}
 .theme-switch-wrapper em {
	 margin-left: 10px;
	 font-size: 1rem;
}
 .theme-switch {
	 display: inline-block;
	 height: 34px;
	 position: relative;
	 width: 60px;
}
 .theme-switch input {
	 display: none;
}
 .slider {
	 background-color: #ccc;
	 bottom: 0;
	 cursor: pointer;
	 left: 0;
	 position: absolute;
	 right: 0;
	 top: 0;
	 transition: 0.4s;
}
 .slider:before {
	 background-color: #fff;
	 bottom: 4px;
	 content: "";
	 height: 26px;
	 left: 4px;
	 position: absolute;
	 transition: 0.4s;
	 width: 26px;
}
 input:checked + .slider {
	 background-color: #66bb6a;
}
 input:checked + .slider:before {
	 transform: translateX(26px);
}
 .slider.round {
	 border-radius: 34px;
}
 .slider.round:before {
	 border-radius: 50%;
}

.settings_cog i{
  color: white;
  background-color: transparent;
  padding: 1rem;
  font-size: 26px;
}

.settings_cog {
  background: none;
  border: none;
}
 



/* ScrollBar  */

  /* width */
  ::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 35px black; */
    /* border-radius: 10px;  */
    background-color: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #09d6ef;
    /* border: 3px solid black; */
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: white; 
  }

.note_container {
  /* border: 2px solid red; */
}

#note_template {
  /* display: none; */
}

.master_wrapper {
  text-align: center;
}

#master_list {
  text-align: center;
  display: block;
}

#edit_form {
    display: none;
}

.add_note_form {
  padding: 10px;
}

/* :not(pre)>code[class*=language-]{
  padding: 0;
} */

/* .logout {
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
} */

/* #greeting {
  position: absolute;
  color: white;
  right: 50px;
  top: 10px;
} */

#title {
  text-align: center;
  color: black;
  font-size: 40px;
  padding: 20px;
}

.all_notes {
  position: absolute;
  left: 10px;
  top: 10px;
}

/* ---------- Note Style ---------- */

.note {
    padding: 10px;
    position: relative;
    background-color: #1e1e1e;
    border: 2px solid black;
    color: #09d6ef;
}

.note:hover {
  /* background-color: #f1f1f1; */
  /* background-color: black; */
  border-left: 2px solid #09d6ef;
  border-right: 2px solid #09d6ef;
}

.privacy {
  position: absolute;
  right: 40px;
}

.fa-edit {
    position: absolute;
    right: 20px;
}

.fa-trash {
    position: absolute;
    right: 5px;
}

.fa-lock, .fa-lock-open {
  position: absolute;
  color: #09d6ef;
  right: 3px;
}

.fa-copy {
  position: absolute;
  right: 45px;
}

.uploaded_at {
  position: absolute;
  right: 60px;
  font-size: 10px;
}

.uploaded_by {
  position: absolute;
  right: 200px;
}





/* Top Navbar */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: white;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* SideNav */

.sidenav i {
  font-size: 12px;
}

.sidenav i:hover {
  color: white;
  cursor: pointer;
}

.sidenav .fa-lock, .sidenav .fa-lock-open {
  position: absolute;
  right: 22px;
}

.code_format {
  background-color:#1e1e1e;
  color: lime;
  text-shadow: none;
  white-space: pre-wrap;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    /* background-color: red; */
    /* color: #444; */
    cursor: pointer;
    /* padding: 18px; */
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.7s;
  }

  .sidenav h5 {
    padding: 5px;
    font-size: 1rem;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #232331;
    /* border-left: 2px solid #09d6ef; */
    /* border-right: 2px solid #09d6ef; */
    /* border-bottom: 2px solid #09d6ef; */
    /* border: 2px solid #09d6ef; */
    /* margin-left: 15px; */
    color: #09d6ef;
  }

  .sidenav .active, .sidenav .accordion:hover{
    /* margin-left: 5px; */
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    /* padding: 0 18px; */
    /* padding: 10px;   */
    /* background-color: rgba(243, 237, 237, 0.774); */
    background-color: rgba(41, 41, 41, 0.219);
    background-color: rgba(42, 42, 42, 0.89);
    /* border: 1px solid black; */
    display: none;
    overflow: hidden;
    text-align: left;
    /* color: #232331; */
    color: #08fdd8;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .panel ul form {
      /* display: none; */
  }

  .panel ul li {
      position: relative;
      /* white-space: pre-wrap; */
      /* border-top: 2px solid black; */
      padding: 5px;
      margin: 0 45px;
  }

  .sidenav ul li:hover {
    background-color: rgb(3, 68, 105);
  }

  .panel form {
      margin-left: 45px;
  }




  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.5; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
  }


  #title_input, #privacy_input, #category_input, #content_input {
    background-color: #09d6ef;
    color: black;
    font-weight: bold;
    border: 1px solid black;
  }


  #title_input {
    height: 20px;
    width: 15%;
    vertical-align: top;
    color: black;
    background-color: #09d6ef;
  }

  #privacy_input {
    vertical-align: top;
    height: 24px;
    width: 10%;
  }

  #category_input {
    vertical-align: top;
    height: 24px;
    width: 15%;
  }

  #content_input {
    /* height: 22px; */
    /* width: 50%; */
    height: 100px;
    width: 100%;
    /* width: auto; */
    padding: 5px;
  }

  #add_note_button {
    vertical-align: top;
    padding: 2px;
    width: 6%;
  }

  /* On the note  */

  .note_textarea {
    width: 50%;
    height: 24px;
    margin-top: 10px;
  }

  .isCode {
    height: 26px;
    vertical-align: top;
    margin-top: 10px;
  }

  .comment_image {
    max-width: 90%;
    max-height: 50%;
    margin-left: 45px;
    margin-right: 45px;
  }

  .add_subnote_button {
    vertical-align: top;
    padding: 4px 15px;
    margin: 10px;
    color: #09d6ef;
    background-color: black;
    border: none;
    /* width: 6%; */
    border-radius: 25px;
    border-bottom: 2px solid transparent;
  }

  .add_subnote_button:hover {
    color: white;
    border-bottom: 2px solid white;
  }
  
  /* SIDENAV */
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /* background-color: #111; */
    /* background-color: #2d3748; */
    background-color: #1e1e1e;
    /* box-shadow: 2px 2px 10px black; */

    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: white;
    text-align: center;
  }

  .sidenav h5 {
    padding-left: 25px;
  }
  
  .sidenav a {
    /* margin-left: 10px; */
    /* padding: 8px 8px 8px 32px; */
    text-decoration: none;
    /* font-size: 25px; */
    color: white;
    /* display: block; */
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }

  .sidenav form {
    margin-top: 20px;
  }

  .sidenav .panel {
    background-color: #232331;
    color: white;
  }

  .sidenav .panel a {
    color: #09d6ef;
  }
  
  .sidenav div {
    /* background-color: rgb(37, 37, 37); */
    /* background-color: #232331; */
    /* background-color: rgb(60, 92, 143); */
  }

  .notebooks {
    /* border: 1px solid red; */
  }

  .category_add_form {
    opacity: 0;
    transition: 0.5s ease-in-out;
  }
  
  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
