<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'login_app\css\style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet">
    <script src="{% static 'login_app/js/script.js' %}"></script>
    <title>Slick Notes</title>
</head>
<body>
<div class="overlay"></div>
<div class="center-login-box">
    <form action="/login" method="POST">
        {% csrf_token %}
        <table class="login-table">
            <tr>
                <td colspan="2">
                    <div class="logo-container">
                    <img src="{% static '\login_app\images\SNLogo3.png' %}" class="logo"> 
                    <img src="{% static '\login_app\images\SNLogo4.png' %}" class="logo-rotate"> 
                    <h1 class="brand">Slick Notes</h1>
                </div>
                </td>
            </tr>
            <tr>
                <td>
                    <input type="email" id="email" name="email" placeholder="Email">
                </td>
            </tr>
            <tr>
                <td>
                    <!-- Validation Check -->
                    {% if messages %}
                    <ul>
                        {% for message in messages %}
                            {% if 'email' in message.tags %}
                            <p{% if message.tags %} class="{{ message.tags }} validation-error"{% endif %}>{{ message }}</p>
                            {% endif %}
                        {% endfor %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <input type="password" id="password" name="password" placeholder="Password">
                </td>
            </tr>
            <tr>
                    <td>
                        <!-- Validation Check -->
                        {% if messages %}
                        <ul>
                            {% for message in messages %}
                                {% if message.tags == 'password error' %}
                                <p{% if message.tags %} class="{{ message.tags }} validation-error"{% endif %}>{{ message }}</p>
                                {% endif %}
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </td>
                </tr>
            <tr>
                <td colspan="2">
                    <button class="login-button"><a href="#">Login</a></button>
                </td>
            </tr>
            <tr class="new_user">

                <td colspan=2>New user? <a href="registration">Register <span class="link">here</span></a></td>
            </tr>
            <tr>
                <td id="guest_button_container">
                    <a href="/login/guest" id="guest_button"><button type="button">Login as Guest</button></a>
                </td>
            </tr>
        </table>
    </form>
    <div class="corner corner-top-left"></div>
    <div class="corner corner-top-right"></div>
    <div class="corner corner-bottom-left"></div>
    <div class="corner corner-bottom-right"></div>

    <!-- <div class="guest_login">
        <h3>Guest Account:</h3>
        <ul style="list-style: none;">
            <li>Username: guest@ege.com</li>
            <li>Password: password</li>
        </ul>
    </div> -->
</div>
</body>
</html>